@import "src/dist/_variable";

@import "src/dist/_footer";
@import "src/dist/_form";
@import "src/dist/_calendar";
@import "src/dist/_admin";


.thanks {
  background-color: white;
  text-align: center;
  .logo-block {
    padding-top: 40px;
    .end-title {
      font-size: 24px;
      padding-left: 20px;
    }
    img {
      width: 100px;
    }
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 2px;
  }
  h3 {
    font-size: 20px;
    font-weight: 200;
    a {
      color: $main-color;
      text-decoration: underline;
    } 
  }
}
.end-block {
  color: $main-color;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  span {
    font-weight: 500;
  }
}


// overwrite material-ui
.MuiStepIcon-root-82.MuiStepIcon-active-83, 
.MuiStepIcon-root-222.MuiStepIcon-active-223,
.MuiStepIcon-root-82.MuiStepIcon-completed-84,
.MuiStepIcon-root-278.MuiStepIcon-active-279,
.MuiStepIcon-root-278.MuiStepIcon-completed-280,
.MuiStepIcon-root-222.MuiStepIcon-completed-224,
.MuiStepIcon-root-334.MuiStepIcon-completed-336,
.MuiStepIcon-root-334.MuiStepIcon-active-335,
.MuiStepIcon-root-261.MuiStepIcon-active-262,
.MuiStepIcon-root-261.MuiStepIcon-completed-263
 {
  color: #F7B815 !important; }
/*material-ui initial */
.root {
  flex-grow: 1;
}
.paper {
  padding: 2px;
  height: 100%;
}
.none {
  display: none;
}
/*initial design*/
h1{
  font-size: 56px;
  font-weight: bold;
}
a {
  color: white;
  background-color: none;
  text-decoration: none;
}
/*AppBar*/
.navbar {
  background-color: $nav-color !important;
  box-shadow: none !important;
}
.life-logo{
  width: 70px;
  margin-right: 20px;
}
.logo-title {
  color: white !important;
}
.flex {
  flex: 1;
}
.tab-right {
  display: flex !important;
}
.tab-content {
  margin-right: 20px !important;
  cursor: pointer;
}
.white-menu-icon {
  color: white !important;
}

/*intro page*/
.intro-page {
  min-height: 568px;
  background-color: gray;
  background-image:url('./dist/images/header_bg.jpg');
  background-size: cover;
  border: none !important;
}
.logo-container {
  text-align: right;
}
.intro-life-logo {
  width: 100px;
  height: auto;
  margin-right: 34px;
}
.intro-title {
  color: white !important;
  font-weight: bold !important;
  text-align: center;
}
.intro-left-content {
  color: white !important;
  font-weight: 300 !important;
  margin-top: 45px !important;
  line-height: 23px !important;
}
.intro-left {
  width: 510px !important;
  margin: 0 auto;
}
.intro-content-right {
  color: white !important;
  font-size: 28px !important;
  text-align: center;
}
.c-link {
  color: $main-color !important;
  text-decoration: underline;
  cursor: pointer;
}
.c-link-big {
  color: $main-color !important;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px !important;
}
.intro-button {
  color: white !important;
  font-size: 36px !important;
  font-weight: 400 !important;
  background-color: $main-color !important;
  box-shadow: none !important;
  margin-bottom: 45px !important;
}
.intro-left-sm {
  text-align: center;
}

/*calendar page*/
.calendar-page {
  min-height: 648px;
}
.calendarpage-left {
  width: 100%;
  min-height: 648px;
  background-color: $main-color;
  height: 100%;
}
.calendarpage-left-content h1{
  color: white ;
  font-weight: 500 ;
  font-size: 48px ;
}
.calendarpage-left-content p {
  font-size: 20px;
  color: #666666;
  margin-bottom: 2px;
}
.calendarpage-right {
  padding: 50px 20px;
}
.log-status {
  color: white;
  border: 1px solid white;
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
}
.calendarpage-left-button {
  color: white !important;
  font-size: 36px !important;
  font-weight: 400 !important;
  background-color: #666666 !important;
  margin-top: 180px !important;
}

/* motivation */
.motiv-page {
  background-color: $nav-color;
  padding-bottom: 90px;
  color: white;
  background-image:url('./dist/images/section-orig_bg.jpg');
  background-size: contain;
}
.motiv-page h1{
  font-weight: 400 ;
  font-size: 36px ;
  margin: 2px 0 2px 0;
}
.motiv-block-first {
  width: 80% !important;
}
.motiv-block-second {
  margin-top: 90px;
}
.buttom-line {
  width: 180px;
  border-bottom: 1px solid white;
  margin-top: 30px;
}
.motiv-block-right {
  padding-left: 40px;
}
.motiv-block-right h2 {
  margin-top: 0px;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 60px;
  color: white;
}
.motiv-block-right h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 45px;
}
.motiv-block-right h4{
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0 10px 0;
  color: #C0C0C0;
}
.text-right {
  text-align: right;
}
.mark-box {
  border: 1px solid $main-color;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}
.mark-box-icon {
  border: 1px solid $main-color;
  padding: 4px 1px 4px 1px;
  border-radius: 4px;
  width: 120px;
  text-align: center;
}
.howtowork {
  display: flex;
}
.how-arrow {
  align-self: center;
  padding: 0px 20px 0px 20px;
}
/* rwd */
@media only screen and (max-width: 960px) {
.intro-page {
  height: 100%;
}
.intro-left {
  width: 80% !important;
  text-align: center;
  margin-bottom: 40px;
}
.intro-left-sm {
  margin-top: 40px;
}
.intro-right {
  margin-bottom: 40px;
}
.intro-life-logo {
  margin-right: 0px;
}
/* calendar page */
.calendarpage-left {
  min-height: 400px;
}
/* motivation page */
.motiv-block-right {
  padding-left: 0px;
}
.motiv-block-left {
  text-align: center;
  margin-bottom: 50px !important;
}
.motiv-page h1 {
  font-size: 28px;
}
.buttom-line {
  margin: 0 auto;
  margin-top: 16px;
}
.motiv-block-right h2 {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.motiv-block-right h3{
  font-size: 14px;
  margin-bottom: 30px;
}
.motiv-block-right h4{
  font-size: 14px;
}
.howtowork {
  display: inline-flex;
  margin: 0 auto;
}
.block-center {
  text-align: center;
}
.footer .frame .block {
  text-align: center;
}
.footer .frame .right {
  margin-top: 30px;
}
.thanks {
  h2, h3 {
    font-size: 16px;
  }
}
.end-block {
  font-size: 18px;
}
}

@media only screen and (max-width: 600px) {
.intro-page {
  background-image:url('./dist/images/header_mobile2.jpg');
}
.intro-left-content {
  font-size: 14px !important;
  margin-top: 18px !important;
}
.intro-title {
  font-size: 40px !important;
}
.intro-life-logo {
  width: 80px;
}
.intro-content-right {
  font-size: 20px !important;
}
.mark-box-icon {
  width: 80px;
}
.motiv-block-right h2 {
  font-size: 16px;
}
.how-arrow {
    padding: 0px 5px 0px 5px;
}
.footer {
  .frame {
    h1, h2 {
      font-size: 12px;
    }
  }
}
}

















